%p#notice= notice 

%h1 Orders

%table
  %thead
    %tr
      %th Name
      %th Address
      %th Text
      %th Email
      %th  pay type
      %th user_id
      %th{:colspan =>"3"}

  %tbody
    - @orders.each do |order| 
      %tr
        %td= order.name 
        %td= order.address 
        %td= order.text 
        %td= order.email 
        %td= order.pay_type
        %td= order.user_id 
        %td= link_to 'Show', order 
        %td= link_to 'Edit', edit_order_path(order) 
        %td= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } 
      

%br/

= link_to 'New Order', new_order_path 
