%p#notice= notice 

%p
  %strong Name:
  = @order.name 

%p
  %strong Address:
  = @order.address 


%p
  %strong Text:
  = @order.text 


%p
  %strong Email:
  = @order.email 


%p
  %strong pay type:
  = @order.pay_type 


= link_to 'Edit', edit_order_path(@order)
= link_to 'Back', orders_path 
