!!!
%html

  %head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %title Pragprog Books Online Store
  = csrf_meta_tags
  = stylesheet_link_tag 'application', media: 'all', 
                          'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 
                          'data-turbolinks-track': 'reload'        

  :javascript 
    I18n.defaultLocale = "#{I18n.default_locale}";
    I18n.locale        = "#{I18n.locale}";
  
  :javascript
        if(#pay-type-component === "Credit Card"){
            form.submit disabled === false
        }
    


  %body
  %header.main
    
    %aside
      
      = form_tag store_index_path, class: 'locale' do
        = select_tag 'set_locale',
          options_for_select(LANGUAGES, I18n.locale.to_s),
          onchange: 'this.form.submit()'
        
        = submit_tag 'submit', id: "submit_locale_change"
      = image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf'
    %h1= @page_title
    
    
    - if user_signed_in?
      %h2.username Welcome: 
      %h2.username= current_user.email.split('@')[0]


        
  %section.content        
    %nav.side_nav
      
      %ul
        %li
          %a{:href => "/"}= t('.home') 
        %li
          %a{:href => "/questions"}= t('.questions') 
        %li
          %a{:href => "/news"}= t('.news') 
        %li
          %a{:href => "/contact"}= t('.contact') 
  
      #cart.carts
        = render_if @cart && @cart.line_items.any?, 
      @cart 

      %hr
      %ul.hmenu
        - if user_signed_in?
          %li
            = link_to('Logout', destroy_user_session_path, method: :delete)

        - else
          %li
            = link_to('Login', new_user_session_path)
      
    
    %main{:class => "#{controller.controller_name}"}
      -if notice
        %p.alert.alert-success= notice
      -if alert
        %p.alert.alert-danger= alert
      = yield